<div id="vitae-language" class="container">
    <table class="table w-auto table-hover table-striped">
        <tbody>
            <tr>
                <th>母語</th>
                <td>C, Pascal</td>
            </tr>
            <tr>
                <th>流利</th>
                <td>JavaScript, TypeScript, HTML, C#, Go, SQL, R, Python, JAVA</td>
            </tr>
            <tr>
                <th>尚可</th>
                <td>Shell Script(Bourne Shell), C++, PHP, Assembly, Perl, VB.NET, ASP, Ruby</td>
            </tr>
        </tbody>
    </table>
</div>