@charset "utf-8";
/* CSS Document */

#wrapper {
	margin: 1em auto;
	padding: 1em;
	width: 600px;
	text-align: center;
	background-color: #FFC;
}

#secUserInfo {
	margin: 1em auto;
	padding: 4px;
}

#secBoard {
	margin: 1em auto;
	padding: 1em;
	visibility: collapse;
}

#btnPlay {
	width: 100%;
	height: 100%;
}

#btnDraw {
	padding: 4px 1em;
	margin: 4px auto;
	font-weight: bolder;
	color: white;
}

input[type="button"]:disabled {
	opacity: 0.65;
	cursor: not-allowed;
}

table {
	margin: 0px auto;
	padding: 0px
}

.squareButton {
	width: 36px;
	height: 36px;
}

.redText {
	color: red;
}

.redBack {
	background-color: red;
}

.blueText {
	color: blue;
}

.blueBack {
	background-color: blue;
}

aside {
	text-align: left;
}