<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>訂閱電子報</title>
    <style>
        section {
            margin: 1em 10%;
        }
    </style>
</head>

<body>
    <section>
        <header>
            <hr>
            <h2>訂閱電子報</h2>
            <hr>
        </header>
        <p>感謝您！我們將定期寄送電子報至下列位址：</p>
        <p>姓名：<%= userName %></p>
        <p>電郵：<%= userEmail %></p>
    </section>
</body>

</html>