<div id="vitae-education" class="container">
    <table class="table w-auto table-hover table-striped">
        <tbody>
            <tr>
                <th>學校系所</th>
                <th>學位</th>
                <th>取得日期</th>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.cs.nthu.edu.tw">國立清華大學資訊工程學系</a></td>
                <td>博士</td>
                <td>1999/06</td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.ee.ttu.edu.tw">大同工學院電機工程學系</a></td>
                <td>學士</td>
                <td>1991/07</td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.cksh.tp.edu.tw/">台北市立成功高級中學</a></td>
                <td>　</td>
                <td>1987/07</td>
              </tr>
        </tbody>
    </table>
</div>