.row-odd {
    background-color: #CFF;
}

.row-even {
    background-color: #FCF;
}

#vitae-certification {
    margin: 1rem auto;
}

#cert-images {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: auto;
}

img {
    max-height: 128px;
    margin: 4px;
}

@media (max-width: 576px) { 
    img {
        max-width: 64px;
        margin: 2px;
    }
}