<div id="vitae-profile" class="container">
  <div class="row" style="display: flex">
    <img src="assets/images/000893.JPG" width="200" alt="鄧文振">
    <div id="profile-property" style="flex: 1;">
      <div style="display:flex">
        <label>中文姓名：</label><span>鄧姚文</span>
      </div>
      <div style="display:flex">
        <label>英文名字：</label><span>Joseph Deng</span>
      </div>
      <div style="display:flex">
        <label>性　　別：</label><span>男</span>
      </div>
      <div style="display:flex">
        <label>電子郵件：</label><span><a href="mailto:josephdeng@g2.usc.edu.tw">josephdeng@g2.usc.edu.tw</a></span>
      </div>
      <div style="display:flex">
        <label>網站位址：</label><span><a href="http://uscoj.im.usc.edu.tw/~ywdeng/" title="鄧姚文老師的網站" target="_blank">http://uscoj.im.usc.edu.tw/~ywdeng/</a></span>
      </div>
    </div>
  </div>
</div>
